<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="../assets/scripts/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/styles/css/style.css" rel="stylesheet">
    <!-- Include fonts -->
    {% include fonts.html %}
    <!-- Include animations -->
    {% include animations.html %}
  </head>
  <body>
    <div class="body__section body__section--first">
      <div class="section__container">
        <div class="container">
          <div class="container__left-side">
            <div class="left-side__block">
              <div class="container__title animate__animated animate__fadeInDown">
                IXOlist
              </div>
              <div class="container__subtitle animate__animated animate__fadeInDown">
                The open door to<br> the crypto world is with us!
              </div>
              <button class="container__btn animate__animated animate__fadeInUp">
                Try
              </button>
            </div>
          </div>
          <div class="container__right-side">
            <img class="phone-img animate__animated animate__fadeInRight" src="assets/graphics/images/phone.png"></img>
          </div>
        </div>
      </div>
    </div>
    <div class="body__section body__section--second">
      <div class="section__container">
        <div class="container">
          <div class="container__left-side">
            <div class="left-side__block">
              <div class="block-text animate__animated animate__fadeInLeft">
                We ensure that clients participate in promising cryptocurrency projects, and also create a bridge between cryptocurrencies and business development for greater efficiency and effectiveness.
              </div>
            </div>
          </div>
          <div class="container__right-side">
          </div>
        </div>
      </div>
    </div>
    <div class="body__section body__section--third">
      <div class="section__container">
        <div class="container">
          <div class="container__left-side">
            <div class="services__buttons animate__animated animate__fadeInLeft">
              <div class="services__btn" id="Offering">
                Offering
              </div>
              <div></div>
              <div class="services__btn" id="Emission">
                Emission
              </div>
              <div>
              </div>
              <div class="services__btn" id="Me">
                Me
              </div>
              <div>
              </div>
              <div class="services__btn" id="Bank">
                Bank
              </div>
              <div></div>
              <div class="services__btn" id="Organizations">
                Organizations
              </div>
            </div>
          </div>
          <div class="container__right-side">
            <div class="right-side__description block-text--white animate__animated animate__fadeInRight">
              <div class="description" id="OfferingDescription">
                Creating and managing campaigns<br> and conducting ICOs
                <button class="container__btn">
                  See more
                </button>
              </div>
              <div class="description" id="BankDescription">
                Management of financial operations,<br> balances and transactions
                <button class="container__btn">
                  See more
                </button>
              </div>
              <div class="description" id="EmissionDescription">
                Register of jurisdictions and their management
                <button class="container__btn">
                  See more
                </button>
              </div>
              <div class="description" id="OrganizationsDescription">
                Information and management of organizations<br> or companies related to your business or projects
                <button class="container__btn">
                  See more
                </button>
              </div>
              <div class="description" id="MeDescription">
                Personal profiles and user settings<br> for account management
                <button class="container__btn">
                  See more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body__section body__section--fourth">
      <div class="section__container">
      </div>
    </div>
  </body>
</html>
