html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.body__section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.section__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1304px;
  margin: 0 68px;
}

.body__section--first {
  background-image: url(../../graphics/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.body__section--second {
  background: #fff;
  height: 450px;
}

.body__section--third {
  background-image: url(../../graphics/images/background-rotate.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.body__section--fourth {
  background: #fff;
  height: 450px;
}

.container {
  height: 100%;
  display: flex;
  align-items: start;
  color: white !important;
}

.container__left-side {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.left-side__block {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.container__right-side {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container__title {
  font-size: 92px;
  font-weight: 600;
}

.container__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
}

.container__btn {
  max-width: 280px;
  background: #1976D2;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 16px;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white !important;
}

.phone-img {
  max-height: 700px;
}

.block-text {
  color: #1976D2 !important;
  font-size: 22px;
  line-height: 46px;
}

.services__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.services__btn {
  background: #fff;
  color: #1976D2;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  transition: .3s;
}

.selected {
  background: #1976D2;
  color: #fff;
  transition: .3s;
}

.right-side__description {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.block-text--white {
  color: #fff !important;
  font-size: 22px;
  line-height: 46px;
}

.contact-section__first-column > .first-column__title {
  color: #1976D2;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  font-weight: 600;
}

.contact-section__second-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 220px;
}

.contact-section__second-column > .second-column__title {
  color: #1976D2;;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.01em;
  margin-bottom: 48px;
}

.form__input {
  display: flex;
  flex-direction: column;
  max-width: 632px;
  margin-bottom: 48px;
}

.form__input > label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #1976D2;;
  margin-bottom: 16px;
}

.form__input > input {
  height: 56px;
  border-radius: 28px;
  border: 2px solid #1976D2;;
  outline: none;
  background: transparent;
  color: #1976D2;;
  font-size: 16px;
  padding: 0 24px;
}

.form__input > textarea {
  padding: 24px;
  min-height: 216px;
  border-radius: 28px;
  border: 2px solid #1976D2;
  outline: none;
  background: transparent;
  color: #1976D2;
  font-size: 16px;
}

form > button {
  max-width: 280px;
  background: #1976D2;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white !important;
}

.container__contact {
  display: flex;
  padding: 40px;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .section__container {
    margin: 0 20px; /* Уменьшаем отступы для маленьких экранов */
  }

  .container__title {
    font-size: 54px; /* Уменьшаем размер заголовка на мобильных устройствах */
  }

  .container__subtitle {
    font-size: 20px; /* Уменьшаемразмер подзаголовка на мобильных устройствах */
  }
  
  .container__btn {
    font-size: 18px; /* Уменьшаем размер кнопок на мобильных устройствах */
    margin-top: 20px; /* Уменьшаем отступ кнопок от заголовка на мобильных устройствах */
  }
  
  .phone-img {
    max-height: 320px; /* Уменьшаем высоту изображения телефона на мобильных устройствах */
    margin-top: 60px;
    max-width: 160px;
    width: 100%;
    height: auto;
  }

  .body__section--second > .section__container > .container > .container__right-side {
    display: none;
  }
  
  .body__section--second > .section__container > .container > .container__left-side > .left-side__block > .block-text {
    text-align: center !important;
  }

  .body__section--second > .section__container {
    margin: 0;
  }

  .body__section--third > .section__container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .body__section--third > .section__container > .container {
    flex-direction: column;
    height: auto;
  }

  .body__section--third > .section__container > .container > .container__left-side {
    padding: 40px;
  }

  .body__section--third > .section__container > .container > .container__right-side {
    display: flex;
    justify-content: center;
    padding: 0 40px 40px 40px;
    margin-top: -20px;
  }

  .body__section--third > .section__container > .container > .container__right-side > .right-side__description > div {
    width: 100%;
  }

  .body__section--third > .section__container > .container > .container__right-side > .right-side__description > div > a > .container__btn{
    min-width: 100%;
  }

  .body__section--third {
    height: 600px;
  }

  .services__buttons {
    flex-direction: column;
    display: flex;
  }

  .services__btn {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .block-text, .block-text--white {
    font-size: 18px; /* Уменьшаем размер текста на мобильных устройствах */
    line-height: 36px; /* Уменьшаем межстрочный интервал на мобильных устройствах */
  }
  
  .contact-section__second-column {
    margin-left: 0; /* Убираем отступ у второго столбца контактной формы на мобильных устройствах */
  }
  
  .form__input {
    max-width: none; /* Убираем максимальную ширину для инпутов формы на мобильных устройствах */
    margin-bottom: 24px; /* Уменьшаем отступы между инпутами на мобильных устройствах */
  }
  
  .form__input > input,
  .form__input > textarea {
    font-size: 16px; /* Уменьшаем размер шрифта в инпутах и текстовом поле на мобильных устройствах */
  }
  
  form > button {
    font-size: 18px; /* Уменьшаем размер кнопки в форме на мобильных устройствах */
  }

  .container__contact {
    flex-direction: column;
  }
  
  .first-column__title {
    margin-bottom: 20px;
  }

  .second-column__title {
    font-size: 20px !important;
  }
}